header {
  background-color: #006557;
  color: white;

  font-size: 0.8rem;

  display: flex;
  align-items: center;

  padding: 1rem 1.4rem;
  box-sizing: border-box;

  position: relative;

  .arrow-icon {
    font-size: 1.8rem;
    font-weight: 600;

    position: absolute;
    left: 2rem;
    z-index: 20;
  }

  h2 {
    text-align: center;
    width: 100%;
  }

  @media screen and (min-width: 1024px) {
    padding: 1.4rem 1.4rem;

    .arrow-icon {
      left: 6rem;
    }
  }
}
